<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>The Haunted Bookstore</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  </head>

  <body>
    <header>
      <div id="leftHeader">
        <a href="{{ url_for('home') }}" class="siteLogo">
          <img
            class="logoImage"
            src="{{ url_for('static', filename='images/misc/haunted-logo.jpg') }}"
            alt="The Haunted Bookstore logo"
          >
          <div>
            <h1>The Haunted Bookstore</h1>
            <p>Books from the darker shelves</p>
          </div>
        </a>
      </div>

      <div id="midHeader">
        <form id="searchBoxForm" action="{{ url_for('search') }}" method="post">
          <input id="searchBox" type="text" name="search" placeholder="Search by book title">
          <input
            id="searchIcon"
            type="image"
            src="{{ url_for('static', filename='images/misc/search-icon.png') }}"
            alt="search icon"
          >
        </form>

        <div class="dropdown">
          <p class="dropdownSelect">Browse Categories</p>
          <div class="dropdownContent">
            {% for category in categories %}
              <p>
                <a href="{{ url_for('category', categoryId=category['id']) }}">
                  {{ category['name'] }}
                </a>
              </p>
            {% endfor %}
          </div>
        </div>
      </div>

      <div id="rightHeader">
        <div id="cartIcon">
          <a href="#">
            <img
              src="{{ url_for('static', filename='images/misc/cart-icon.png') }}"
              alt="cart icon"
            >
          </a>
        </div>

        <div class="navButton">
          <a href="{{ url_for('home') }}">Home</a>
        </div>
        <div class="navButton">
          <a href="{{ url_for('read') }}">All Books</a>
        </div>
        <div class="navButton">
          <a href="{{ url_for('create') }}">Add Book</a>
        </div>
      </div>
    </header>

    <main>
      {% block container %}{% endblock %}
    </main>

    <footer>
      <div id="footerLeft">
        <p>The Haunted Bookstore</p>
        <p>&copy; 2025</p>
        <a href="{{ url_for('read') }}">View Collection</a>
        <a href="{{ url_for('create') }}">Add to the Shelves</a>
      </div>

      <div id="footerRight">
        <a href="#">
          <img src="{{ url_for('static', filename='images/misc/facebook-icon.png') }}" alt="Facebook">
        </a>
        <a href="#">
          <img src="{{ url_for('static', filename='images/misc/twitter-icon.png') }}" alt="Twitter">
        </a>
        <a href="#">
          <img src="{{ url_for('static', filename='images/misc/instagram-icon.png') }}" alt="Instagram">
        </a>
      </div>
    </footer>
  </body>
</html>
